<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  
  <header>
    <%- include('../partials/header'); %>
  </header>

<main>
  <div  id ="TopCard" class="d-flex justify-content-center align-items-center m-5">
    <div id ="card3" class="card">
      <h3 class="d-flex justify-content-center card-title">Orders</h3>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">City</th>
            <th scope="col">Area</th>
            <th scope="col">Count</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        <% orders.forEach(order => { %>
          <tr>
            <td><%= order.fullname %></td>
            <td><%= order.phonenumber %></td>
            <td><%= order.email %></td>
            <td><%= order.city %></td>
            <td><%= order.area %></td>
            <td><%= order.count %></td>
            <td>
              <form action="/accept" method="post">
              <input type="text" name="itemId" value="<%= order.id %>" hidden>
              <input class="btn btn-primary" value="Done" type="submit">
              </form>
            </td>

          </tr>
        <% }); %>

        </tbody>
      </table>
  

    </div>
  </div>

  <div  id ="2ndCard" class="d-flex justify-content-center align-items-center m-5">
    <div id ="card2" class="card" style="width: 18rem;">
      <form action="/itemChange" method="post" enctype="multipart/form-data">

      <!-- <img class="card-img-top img-fluid" src="img/Bag_Item2.jpeg" alt="Card image cap"> -->
      <img class="card-img-top img-fluid" src="<%= items[0].img %>" alt="Card image cap">
      
      <input class="form-control" type="file" id="image" name="image" required/>

      <div class="card-body">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<%= items[0].title %>"/>
        <br>
        <br>
        <label for="description">Description</label>
        <textarea class="form-control" rows="5" id="description" name="description" required><%= items[0].description %></textarea>

          <div class="d-flex align-items-center justify-content-center m-3">
            <label for="maxCount">Max : </label><input id="maxCount" name="maxCount" type="number" class="form-control text-center mx-2" value="<%= items[0].maxcount %>" style="width: 60px;">
          </div>
          <div class="d-flex align-items-center justify-content-center m-3">
            <label for="minCount">Min : </label><input id="minCount" name="minCount" type="number" class="form-control text-center mx-2" value="<%= items[0].mincount %>" style="width: 60px;">
          </div>
          <div class="d-flex align-items-center justify-content-center m-3">
            <label for="count">Store: </label><input id="count" name="count" type="number" class="form-control text-center mx-2" value="<%= items[0].count %>" style="width: 60px;">
          </div>
          <div class="d-flex justify-content-center">
              <input class="btn btn-primary" type="submit" value="Update"></span>
        </form>

        </div>
      </div>
    </div>
  </div>

  <div  id ="3ndCard" class="d-flex justify-content-center align-items-center m-5">
    <div id ="card2" class="card" style="width: 18rem;">
      <form action="/webStatus" method="post">
        <input id="webStatusBtn" type="submit" class="btn w-100 p-3" value="">
      </form>
    </div>
  </div>

  
  

</main>

<footer>
  <br><br>
  <%- include('../partials/footer'); %>
</footer>



<script>
const webStatusBtn= document.getElementById('webStatusBtn');
const webSiteStatus='<%=webSiteStatus%>';

if(webSiteStatus==1){
  webStatusBtn.classList.add("btn-danger");
  webStatusBtn.value ="Stop Ordering Page"
}else if(webSiteStatus==0){
  webStatusBtn.classList.add("btn-success");
  webStatusBtn.value ="Start Ordering Page"
}

</script>

</body>
</html>